@media screen and (min-width: 1300px) {
    #navbar {
        width: 15%;
        background-color: #AA0000;
        color: white;
        border-right: 5px solid transparent;
        padding-right: 10px;
        border-image: url(../img/border-left.png) 18 repeat;
    }

    #main-doc {
        width: 85%;
        padding-left: 30px;
        border-left: 5px solid transparent;
        border-image: url(../img/border-right.png) 18 repeat;
    }

    .scroll {
        width: 10%;
        display: block;
        margin: auto;
        
    }
    .scroll-top {
        position: relative;
        top: 1px;
        left: 3px;
        width: 550px;
        height: 99px;
        background: url(../img/scroll-top.png) no-repeat center center local;
        background-size: contain;
    }
    code::before {
        content: "";
        display: block;
        position: absolute;
        left: 82px;
        width: 69.5%;
        height: 100px;
        box-shadow: 0 -10px 5px -5px #FEE9CF;
        z-index: 2;
    }
    code {
        position: relative;
        padding: 0 100px;
        width: 550px;
        font-family: "Roboto Slab", sans-serif;
        display: block;
        background: url(../img/scroll-body.png) no-repeat center bottom local;
        background-size: cover;
    }
    code::after {
        content: "";
        display: block;
        position: absolute;
        top: -9%;
        left: 86px;
        width: 69%;
        height: 100px;
        box-shadow: 0 8px 5px -5px #FEE2C2;
        z-index: 2;
    }
    .scroll-bottom {
        position: relative;
        left: -8px;
        width: 565px;
        height: 101px;
        background: url(../img/scroll-bottom.png) no-repeat center center local;
        background-size: contain;
    }
}