/* Typical Device Breakpoints (ver no W3C)

    Pequenas telas: ~ até 600px
    Celular: 600px até 768px
    Tablet: 768px até 991px
    Desktop: 992px até 1200px
    Grandes telas: Acima de 1200px
 */

@media screen and (min-width: 768px) {
    body {
        flex-direction: row;
    }

    #navbar {
        position: sticky;
        top: 0;
        left: 0;
        width: 20%;
        height: 100vh;
        border-right: 5px solid transparent;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-image: url(../img/border-left.png) 18 repeat;
        margin: 0;
    }
    #navbar span {
        display: none;
    }
    #navbar menu {
        display: block;
        height: 55%;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #navbar .leaf-left-crown {
        display: none;
    }
    #navbar .leaf-right-crown {
        display: none;
    }

    .border {
        position: sticky;
        top: 0;
        left: 0;
        width: 5px;
        height: 100vh;
        border-left: 5px solid transparent;
        border-image: url(../img/border-right.png) 18 repeat;
    }

    #main-doc {
        width: 80%;
    }
    #main-doc .header_1 {
        margin-top: 60px;
    }
    #main-doc .header_1 {
        background: url(../img/commodus-small.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    #main-doc .header_3 {
        background: url(../img/Geta_and_Caracalla.jpg) no-repeat center bottom fixed;
        background-size: cover;
    }
    #main-doc .header_9 {
        background: url(../img/martyr.jpg) no-repeat center bottom fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 993px) {
    #navbar {
        width: 15%;
    }
    #navbar menu {
        height: 75%;
    }

    #main-doc {
        width: 85%;
    }
    #main-doc .header_1 {
        background: url(../img/commodus-small.jpg) no-repeat center bottom fixed;
        background-size: cover;
    }
    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* .image img {
        width: 90%;
        max-width: 1100px;
    } */
    .image .container {
        width: 100%;
        max-width: 1100px;
    }

    input[type=range] {
        height: 32px;
        -webkit-appearance: none;
        margin: 10px 0;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #00000034;
        background: #AA0000;
        border-radius: 10px;
        border: 1px solid #3a3a3a;
      }
      input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #000000;
        height: 25px;
        width: 15px;
        border-radius: 5px;
        background: #FDB300;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -8.5px;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #AA0000;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #00000034;
        background: #AA0000;
        border-radius: 10px;
        border: 1px solid #3a3a3a;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #00000034;
        border: 1px solid #3a3a3a;
        height: 25px;
        width: 15px;
        border-radius: 5px;
        background: #FDB300;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #AA0000;
        border: 1px solid #3a3a3a;
        border-radius: 20px;
        box-shadow: 1px 1px 1px #00000034;
      }
      input[type=range]::-ms-fill-upper {
        background: #AA0000;
        border: 1px solid #3a3a3a;
        border-radius: 20px;
        box-shadow: 1px 1px 1px #00000034;
      }
      input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #00000034;
        border: 1px solid #3a3a3a;
        height: 25px;
        width: 15px;
        border-radius: 5px;
        background: #FDB300;
        cursor: pointer;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #AA0000;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #AA0000;
      }
}

@media screen and (min-width: 1200px) {
    #navbar menu {
        height: 85%;
    }
    #main-doc p {
        padding: 0 15vw;
    }
}

@media screen and (min-width: 1900px) {
    #main-doc p {
        padding: 0 20vw;
    }
}