@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
}

p, li, figcaption {
    font-family: "Roboto Slab", sans-serif;
    line-height: 1.45em;
}

figcaption {
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 1.3em;
    letter-spacing: .3em;
    text-shadow: 1px 0px 1px #aa000070;
}
ol {
    text-align: center;
    list-style: lower-greek;
    list-style-position: inside;
}

#navbar {
    width: 300px;
    margin: 0 auto 35px auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #AA0000;
    color: white;
    text-align: center;
}
#navbar header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#navbar span {
    display: block;
    padding: 15px 0 15px 0;
    cursor: pointer;
}
#navbar menu {
    display: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#navbar li {
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #FDB402;
}
#navbar a {
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", sans-serif;
}
.leaf-left-crown {
    position: relative;
    top: -510px;
    left: -120px;
    width: 150px;
    margin-bottom: -600px;
}
.leaf-right-crown {
    position: relative;
    top: -527px;
    left: 120px;
    width: 150px;
    margin-bottom: -600px;
}

#main-doc {
    width: 100%;
}
#main-doc header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 30px;
    border-top: 1px solid #FDB402;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px #FDB402;
}
#main-doc h2 {
    vertical-align: middle;
}
#main-doc section {
    margin-bottom: 60px;
}
#main-doc .header_1 {
    background: url(../img/commodus-small.jpg) no-repeat center top fixed;
    background-size: cover;
}
#main-doc .header_2 {
    background: url(../img/Settimio_Severo.png) no-repeat center top fixed;
    background-size: cover;
}
#main-doc .header_3 {
    background: url(../img/Geta_and_Caracalla_small.jpg) no-repeat center top fixed;
    background-size: cover;
}
#main-doc .header_4 {
    background: url(../img/Alexander_Severus.jpg) no-repeat center top fixed;
    background-size: cover;
}
#main-doc .header_5 {
    background: url(../img/praetorian-guard-assassination.jpeg) no-repeat center top fixed;
    background-size: cover;
}
#main-doc .header_6 {
    background: url(../img/aurelian.png) no-repeat center top fixed;
    background-size: cover;
}
#main-doc .header_7 {
    background: url(../img/military_anarchy.jpeg) no-repeat center top fixed;
    background-size: cover;
}
#main-doc .header_8 {
    background: url(../img/Diocletian.jpg) no-repeat center top fixed;
    background-size: cover;
}
#main-doc .header_9 {
    background: url(../img/martyr.jpg) no-repeat center top fixed;
    background-size: cover;
}
#main-doc p {
    padding: 0 20px;
    text-align: justify;
    text-indent: 1.5em;
}