@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

p {
    font-family: "Roboto Slab", sans-serif;
}

#navbar {
    width: 80%;
    height: 27%;
    margin: 0 auto 35px auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #AA0000;
    color: white;
    text-align: center;
}
#navbar header {
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
#navbar li {
    text-align: center;
    padding: 15px 0;
}
#navbar a {
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", sans-serif;
}
.leaf-left-crown {
    position: absolute;
    top: -60px;
    left: 17px;
    width: 150px;
}
.leaf-right-crown {
    position: absolute;
    top: -60px;
    left: 210px;
    width: 150px;
}

#main-doc {
    width: 100%;
}
#main-doc header {
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.scroll {
    width: 87%;
    display: block;
    margin: auto;
    
}
.scroll-top {
    position: relative;
    top: 11px;
    left: 0px;
    width: 350px;
    height: 99px;
    background: url(../img/scroll-top.png) no-repeat center center local;
    background-size: contain;
}
code::before {
    content: "";
    display: block;
    position: absolute;
    left: 51px;
    width: 69.5%;
    height: 100px;
    box-shadow: 0 -10px 5px -5px #FEE9CF;
    z-index: 2;
}
code {
    position: relative;
    padding: 0 60px;
    width: 350px;
    font-family: "Roboto Slab", sans-serif;
    display: block;
    background: url(../img/scroll-body.png) no-repeat center bottom local;
    background-size: cover;
}
code::after {
    content: "";
    display: block;
    position: absolute;
    top: 56%;
    left: 55px;
    width: 69%;
    height: 100px;
    box-shadow: 0 8px 5px -5px #FEE2C2;
    /* FEE2C2 */
    z-index: 2;
}
.scroll-bottom {
    position: relative;
    top: -13px;
    left: 0px;
    width: 350px;
    height: 101px;
    background: url(../img/scroll-bottom.png) no-repeat center center local;
    background-size: contain;
}
.shadow-right {
    position: absolute;
    left: 265px;
    width: 50px;
    height: 39%;
    background-color: aqua;
    /* box-shadow: 13px 0 5px -5px #333; */
    /* z-index: 90; */
}